SQLAlchemy
psycopg[binary]
python-dotenv
alembic
fastapi==0.142.2
uvicorn[standard]==0.54.0
langchain-core
langchain-huggingface
sentence-transformers
faiss-cpu
langgraph==1.2.12
langgraph-checkpoint-postgres
PyJWT
pwdlib[argon2]
langchain-groq
PyYAML
pgvector